/* Adding these styles to style.css file */

/* Styling for team heading */
.team-heading {
    background-color:rgb(238, 208, 133); /* Background color */
    box-shadow: 2px 2px 6px 0 #000; /* Shadow effect */
    overflow: hidden; /* Hide overflowing content */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
    font-size: 16px; /* Font size */
    color:#43511b; /* Text color */
    padding: 10px; /* Padding */
}

/* Styling for employee cards */
.employee-card {
    box-shadow: 2px 2px 6px 0 #000; /* Shadow effect */
    margin: 10px; /* Margin */
    height: 400px; /* Fixed height */
    width: 300px; /* Fixed width */
    overflow: hidden; /* Hide overflowing content */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
    font-size: 16px; /* Font size */
}

/* Styling for card header */
.card-header {
    height: 40%; /* Height */
    background-color: #8A9A5B; /* Background color */
    color: shadow; /* Text color */
    box-shadow: 2px 2px 6px 0 #000; /* Shadow effect */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
}

/* Styling for card body */
.card-body {
    height: 20%; /* Height */
    background-color: #43511b; /* Background color */
    color: shadow; /* Text color */
    box-shadow: 2px 2px 6px 0 #000; /* Shadow effect */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    padding: 10px; /* Padding */
}

/* Styling for list items */
.list-group-item {
    margin-bottom: 5px; /* Margin between list items */
}

/* Resetting default styles for HTML and body */
html,
body {
    height: 100%; /* Full height */
    margin: 0; /* Resetting margin */
    padding: 0; /* Resetting padding */
}

/* Flexbox styles for wrapper */
.wrapper {
    display: flex; /* Flex container */
    flex-direction: column; /* Column layout */
    min-height: 100%; /* Minimum height */
}

/* Styling for content section */
.content {
    flex: 1; /* Flex grow */
}

/* Styling for footer */
footer {
    background-color:rgb(238, 208, 133); /* Background color */
    padding: 20px 0; /* Padding */
    text-align: center; /* Text alignment */
    box-shadow: 2px 2px 60px 0 #000; /* Shadow effect */
}

/* Responsive styles for smaller screens */
@media (min-width: 576px) {
    .input-container,
    .image-container {
    width: 100%; /* Full width */
    }
}
